body {
    text-align: center;
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: lightsalmon;
}

.resultBox {
    width: 30%;
    height: 300px;
}